node_modules/
.env
*.log
extract_pdd.js
extract_all_pdd.js
extract_questions.ps1
raw_questions.json
raw_extracted.json
debug_raw.txt
debug.js
pdd_savollar.json
pdd_savollar.csv
photo_*.jpg
compress_images.js
swap_images.js
download_images.js
update_json_with_hd.js
public/images_old/
public/images/
hd_rasmlar/
hd_rasmlar_tmp/
rasmlar/
yangi/
PDD_Rasmlar_UltraHD_Tayyor.zip
pdd_questions.csv
pdd_questions.json
pdd_savollar_barchasi.csv
